body, html {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: $background;
  p, h1, h2, h3, h4, h5, h6, ul, li, a, button, i {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: -0.08rem;
  }

  hr {
    margin: 30px auto;
    max-width: 110px;
    border: 0.5px solid $red;
  }

  a {
    text-decoration: none !important;
  }

  .faded {
    color: #71767a;
  }

  .jumbotron {
    padding: 0;
    margin: 0;
  }

  button, .buttonLink {
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:focus, .active {
      outline: none;
      text-decoration: none !important;
    }
  }
}

.background {
  .headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonGroup {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      margin: 0 10px;
    }
  }

  h1 {
    font-size: 72px;
    font-weight: lighter;
  }

  hr {
    border-color: $red;
  }

  p {
    font-size: 24px;
  }

  button, .buttonLink {
    color: #fff;
    background-color: $red;
    &:hover {
      text-decoration: none;
      color: #000;
      background-color: white;
      box-shadow: inset 250px 0 0 0 white;
    }
  }

  .transparentButton {
    background-color: transparent !important;
    border: 1px solid white;
    &:hover {
      color: #000;
    }
  }

  .imgBackground {
    height: 100vh;
    background-image: url("../../img/header.jpg");
    background-position: center;
    background-size: cover;
  }
}

.collectionContainer {
  padding: 100px 0;

  .collectionHeading {
    h1 {
      color: #000;
      font-size: 48px;
    }
    .faded {
      font-size: 24px;
      margin-bottom: 72px;
    }
  }

  .collectionCars {
    img {
      height: auto;
      width: 100%;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out ;
      -ms-transition: all .3s ease-in-out ;
      -o-transition: all .3s ease-in-out ;
      transition: all .3s ease-in-out ;
    }

    .row {
      padding: 0 24px;
    }


    .zoomIn {
      transition: all 0.2s ease-in-out;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      .noOverflow {
        overflow: hidden;
      }
    }
  }

  .top {
    margin-bottom: 24px;
  }

  .collectionOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: calc(100% - 30px);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    .overlayText {
      color: white;
      font-size: 20px;
      font-weight: 600;
      position: absolute;
      bottom: 8px;
      left: 16px;
    }
  }
}

.trackContainer {
  background-color: #f8f8f8;

  h3 {
    font-size: 24px;
  }

  p {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 70px;
  }

  .counter {
    font-size: 52px;
    font-weight: 600;
    color: #000;
    text-align: center;
  }

  .faded {
    padding-top: 70px;
  }
}

.bannerBackground {
  position: relative;
  .bannerImg {
    height: 100vh;
    background-image: url("../../img/banner.jpg");
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .bannerText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

.testContainer {
  background-color: $red;
  padding: 86px 0 !important;

  .centered {
    text-align: center;
  }

  .highlightButton {
    background-color: rgba(0, 0, 0, .3);
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  
  h2 {
    line-height: 36px;
    margin-top: 12px;
    margin-bottom: 48px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
  }
}

.teamContainer {
  .fa {
    color: rgba(0, 0, 0, .6);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover {
      color: #000;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  a {
    margin: 20px auto;
    padding: 0 10px;
  }

  .role {
    color: rgba(0, 0, 0, .6);
    margin-top: 10px;
    &:before {
      content: "-";
      padding: 0 2px;
    }
    &:after {
      content: "-";
      padding: 0 2px;
    }
  }

  h3 {
    color: #000;
    padding-bottom: 72px;
  }

  h2 {
    color: rgba(0, 0 , 0, .6 );
  }

  .teamCentered {
    text-align: center;
    overflow: hidden;
  }


  .teamMember {
    height: 380px;
    width: auto;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto auto;
  }
}


#testimonials {
  background-color: #f8f8f8;
}
.testimonialsContainer {
  text-align: center;
  padding: 70px 0 52px 0;

  .wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1230px;
    z-index: 5;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .itemWrap {
    display: block;
    position: relative;
  }

  .items {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    z-index: 5;
  }

  .item {
    position: relative;
    background-color: white;
    display: block;
    float: left;
    margin-bottom: 24px;
    width: 47.27%;
    &:nth-child(odd) {
      padding-right: 175px;
    }
    &:nth-child(even) {
      padding-left: 175px;
    }
    p {
      color: black;
    }
    color: black;
  }

  .testimonial {
    display: block;
    position: relative;
    padding: 60px 48px 56px 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #383c3f;
    background-color: #fff;
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, .7);
  }

  .avatar {
    background-image: url("../../img/edgar_neureman.jpg");
    display: block;
    position: absolute;
    overflow: hidden;
    width: 120px;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
  }
  .item:nth-child(1) .avatar {
    left: auto;
    right: 0;
  }
}

.partnerContainer {
  text-align: center;
   .heading {
     color: #000;
     font-size: 50px;
   }

  .brand {
    opacity: .6;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 20px 0;
    &:hover {
      opacity: 1;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

#testimonials2 {
  padding: 80px 0;
  background-color: #f8f8f8;
  .rowSameHeight{
    display: flex;
  }
  .sameHeight {
    flex: 1;
  }

  .content {
    background-color: white;
    padding: 0;
    margin: 0 15px;
    box-shadow: 0 3px 18px 0 rgba(0,0,0,0.07);
    display: flex;
    @media (max-width: $screen-md-max){
      display: block;
    }
  }
  .text {
    padding: 80px;
    background: white;
    color: black;
    flex: 3;
    i, b {
      font-size: 1.6rem;
      color: black;
      line-height: 24px;
    }
    i {
      font-weight: 400;
    }
  }
  .image {
    background-size: cover;
    background-position: center;
    flex: 1;
    @media (max-width: $screen-md-max){
      height: 400px;
    }
  }
  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}
