/********************************
 * Vendor Variables             *
 ********************************/
$background: #fff;
$background-footer: #383c3f;
$red: #e22a1a;

/********************************
 * Fonts               *
 ********************************/

/********************************
 * Vendor Files                 *
 ********************************/

// @import "../node_modules/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../node_modules/jquery-ui/themes/base/datepicker";
@import "../node_modules/jquery-ui/demos/demos";

/********************************
 * Custom Variables             *
 ********************************/


/********************************
 * Custom Classes               *
 ********************************/
@import "classes/header";
@import "classes/globals";
@import "classes/footer";
@import "classes/index";
